.list{
    width: 100%;
    flex:1;
    margin: 10px 0;
    padding: 5px 0;
    :global{
        .list-item{
            margin: 3px 0;
            display: flex;
            background-color: #fff;
            border-radius: 5px;
            .contrl{
                margin: 5px;
            }
            .todo-content{
                flex:1;
            }
            .mark{
                
            }


        }
    }
}