.newtodo {
    width: 100%;
    background-color: #efefef;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    :global {
        div {
            height: 100%;
        }
        .left {
            flex: 1;
            display: flex;
            .btn {
                padding: 10px;
            }
            .input {
                flex: 1;
            }
        }
        .right {
        }


        .show-btn{
            &:hover{
                // background-color: #fff ;
            }
        }
    }
}
