.head{
    :global{
        .top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .title{
                font-size: 30px;
            }
        }
        
    }
}